<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-cart-shopping me-2"></i>
      SGP - Sistema de Gerenciamento de Pedidos
    </a>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Página Inicial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pedidos">Lista de Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/novoPedido">Novo Pedido</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pesquisarPedido">Pesquisar Pedido</a>
      </li>
    </ul>
</nav>